@import '@/styles/colors';

.title {
    color: $black;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.addProductTitle {
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    color: $black;
    margin-bottom: 20px !important;
}

.sum {
    color: $black;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 30px !important;
    display: flex;
    align-items: center;
    h4 {
        margin-right: 10px !important;
    }
}

.fullPriceWithDiscount {
    font-size: 17px;
    position: relative;
    margin-right: 6px;
    margin-top: 2px;

    &::after {
        position: absolute;
        width: 130%;
        content: "";
        height: 2px;
        background-color: $red;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-20deg);
    }
}

.currency {
    margin-left: 6px;
}

.orderButton {
    &.disabled {
        background-color: $dimRed;
        cursor: not-allowed;
    }
}

.discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.discountTitle {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin-right: 10px !important;
}

.discountInput {
    min-width: 240px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: $black;
    outline: none;
    border: 1px solid $darkGrey;
    padding: 4px 6px;
}

.discountInputSuccess {
    border-color: $green;
}

.discountInputInvalid {
    border-color: $red;
}

.discountButtonDisabled {
    opacity: 0.7;
    cursor: not-allowed;
    &:hover {
        background-color: $green;
    }
}

.discountInfo {
    color: $black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 30px !important;
    display: flex;
    align-items: center;
    h4 {
        margin-right: 10px !important;
    }
}
