.menu {
    padding: 40px 0;

    @media (min-width: 768px) {
        padding: 50px 0;
    }

    @media (min-width: 1200px) {
        padding: 60px 0;
    }
}

.menuTitle {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 30px !important;
    text-align: center;

    @media (min-width: 768px) {
        margin-bottom: 50px !important;
    }

    @media (min-width: 1200px) {
        margin-bottom: 48px !important;
        font-size: 50px;
        line-height: 60px;
    }
}