@import 'colors';

.button {
    padding: 14px 29px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
}

.button--sm {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
}

.button--primary{
    background-color: $darkRed;
    color: $white;

    &:hover {
        background-color: $red;
    }
}

.button--secondary {
    background-color: $orange;
    color: $white;

    &:hover {
        background-color: $darkOrange;
    }
}

.button--success {
    background-color: $green;
    color: $white;

    &:hover {
        background-color: $darkGreen;
    }
}

.button--circle{
    transition: background-color 0.3s ease-in-out;
    background-color: $darkRed;
    color: $white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: $red;
    }
}