$white: #ffffff;
$black: #000000;
$grey: #2C2B29;
$red: #ff0000;
$yellow: #FFDB00;

$darkGrey: #4E4E4E;
$lightGrey: #C4C4C4;
$darkRed: #EB5757;
$lightYellow: #faf6c5;
$dimRed: #ffb0b0;
$gradient: linear-gradient(90deg, rgba(236,240,3,1) 0%, rgba(233,6,5,1) 100%);