@import '@/styles/colors';

.container {
    position: fixed;
    bottom: 5px;
    left: 50%;
    border-radius: 10px;
    padding: 15px;
    background-color: $darkGrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    z-index: 2000;
}

.title {
    margin-right: 15px !important;
    color: $white;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}

.closeButton {
    position: absolute;
    right: 0;
    top: -15px;
    border-radius: 50%;
    background-color: $lightGrey;
    width: 25px;
    height: 25px;
    background-size: 50%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    margin: 10px 0;

    img {
        height: 40px;
        margin-left: 10px;
    }
}