.product {
    padding: 20px 0;
    background-image: url(../../images/category-background.png);
    background-size: 100%;
    background-position: left top;
    background-repeat: repeat;
}

.productTitle {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 30px !important;
    text-align: center;

    @media (min-width: 992px) {
        margin-bottom: 40px !important;
    }

    @media (min-width: 1200px) {
        margin-bottom: 50px !important;
    }
}