@import '@/styles/colors';

.footer {
    border-top: 3px solid $yellow;
    padding: 40px 0;
}
.navWrap {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 992px) {
        justify-content: space-between;
        flex-direction: row;
    }
}
.navItem {
    margin-bottom: 20px;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    color: $white;

    &:hover {
        opacity: 1;
        color: $lightYellow;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 992px) {
        margin-bottom: 0;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.infoWrap {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        align-items: flex-end;
    }
}

.infoItem {
    min-width: 220px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: $white;
    transition: 0.2s ease-in-out;

    &:hover {
        color: $lightYellow;
    }

    &:last-child {
        margin-bottom: 0;
    }
    span {
        margin-left: 20px;
    }
}

.topNav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    @media (min-width: 992px) {
        margin-right: 80px;
    }
}

.topNavImg {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.rights {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    opacity: 0.3;
    margin-top: 30px;
    display: inline-block;

    @media (min-width: 768px) {
        margin-top: 20px;
    }
}

.instagramLogo {
    display: flex;
    justify-content: flex-end;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }
}